// WS NOTE: Include variables into: LESS, SASS, Stylus

// Global breakpoints
$xs-size-from = 0px;
$xs-size-to   = 575px;
$sm-size-from = 576px;
$sm-size-to   = 767px;
$md-size-from = 768px;
$md-size-to   = 991px;
$lg-size-from = 992px;
$lg-size-to   = 1199px;
$xl-size-from = 1200px;
$xl-size-to   = 1399px;
$xxl-size-from = 1400px;

// Project variables
$project-gutter-width = false !default;